/* Large desktop */
@media (min-width: 1200px) { ... }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { ... }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { ... }
 
/* Landscape phones and down */
@media (max-width: 480px) { 
	.portfolio-filter > li > button{
		margin-bottom: 2%;
	}

	.erp-text > a{
		margin-bottom: 2%;
	}

	.div-contact{
		padding-bottom: 5%;
	}
}